body {
    margin: 0;
    padding: 0;
    background: #141414;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Impede a rolagem horizontal */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a altura do body seja pelo menos a altura da viewport */
}

.container {
    position: relative;
    flex: 1; /* Ocupa todo o espaço disponível */
    display: flex;
    flex-direction: column;
}

video {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -2; /* Para garantir que o vídeo fique no fundo */
        }


.filtro{

            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            background-color: black;
            width: auto;
            height: auto;
            opacity:.8;
            z-index: -1; /* Para garantir que o vídeo fique no fundo */



}
.conteudo {
    flex: 1; /* Ocupa todo o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;
    padding: 2rem;
    margin-top: 56px; /* Altura do navbar */
}

.passworBox {
    margin-top: 1rem;
    border: 1px solid gray;
    border-radius: 2rem; /* Reduzi o raio do border-radius */
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 400px; /* Limita a largura do passworBox */
    width: 100%; /* Garante que ele ocupe toda a largura disponível */
}

.loginBtn {
    margin-top: 1rem;
    width: 100%; /* Garante que o botão ocupe toda a largura */
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;    
    gap: 1rem
}

.btnLogin {
    background-color: #009900;
    color: black;
    width: 100%;
    font-weight: 800;
    width:100px;
}

.btnLogin:hover {
    background-color: #006600;
    color: white;
}

footer {
    width: 100%;
    height: 100px; /* Altura do footer */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.divisor2 {
    margin-bottom: 10px;
    top: 0;/* Adicione margem inferior para separar do parágrafo */
}

p {
    margin-top: 10px; /* Adicione margem superior para separar da div */
}

@media screen and (max-height: 900px) {
    footer {
        position: relative; /* Altera a posição para relativa */
        bottom: auto; /* Remove o posicionamento no rodapé */
    }
}
